<!DOCTYPE html>
<html>
<head>
	<title>Axol Bot</title>
</head>
<body>
	<h1>Welcome to the Axol Bot website</h1>
	<h3><a href="https://app.revolt.chat/bot/01JRE2PH7RJAZQ5YHW235QQ31H">Invite the bot</a> <a href="https://rvlt.gg/WJmNxmkv">Revolt.chat Server</a> | <a href="https://github.com/BelleMRDev/AxolBot">Github Source Code</a> | <a href="https://gitlab.com/bellemr/axolbot">Gitlab Source Code</a> | <a href="/privacy">Privacy Policy</a></h3>
	
	<h1>Axol Bot Documentation</h1>
	<p>Welcome to the Axol bot documentation section. This section will cover how to use the Axol bot for Revolt. If you are using a self hosted version of the bot, make sure to use the prefix of that bot. These docs explain using the original bot which the prefix is a!</p>
	
	<h3>Setup</h3>
	<p>When using the bot, it requires certain permissions to work. Create a role with the following permissions to get the best experience with the bot</p>
	<ul>
		<li>View Channel</li>
		<li>Send Messages</li>
		<li>Manage Messages</li>
		<li>Kick Members</li>
		<li>Ban Members</li>
		<li>Timeout Members</li>
		<li>Manage Nicknames</li>
	</ul>
	
	<h3>Custom Commands</h3>
	<p>To create and delete commands, you need the Kick Members permission within the server</p>
	<p>To make a custom command, run <span style="border: 1px solid black">a!addcmd</span> followed by the command name and response. For example, <span style="border: 1px solid black">a!addcmd commandname Command response</span>. Your command response can have seperate lines. This can be accomplished by using \n for each line you want to make. For example, <span style="border: 1px solid black">a!addcmd commandname Command response\nwith a second line</span></p>
	<p>To add an embed response, add embed: to the beginning of the response argument. For example, <span style="border: 1px solid black">a!addcmd commandname embed:Command Response</span></p>
	<p>You can view the list of custom commands for your server by running <span style="border: 1px solid black">a!listcmds</span>. You can use the custom command by using <span style="border: 1px solid black">a!commandname</span></p>
	<p>To delete a custom command you made, run <span style="border: 1px solid black">a!deletecmd</span> followed by the command name. For example, <span style="border: 1px solid black">a!deletecmd commandname</span></p>
	<p>There is a filter included in the bot to prevent users from creating commands that includes racial slurs, scams, and promoting illegal activities</p>
	
	<h3>Moderation Commands</h3>
	<ul>
		<li>Kick Command: <span style="border: 1px solid black">a!kick [userid] [reason]</span> - Kick a user from the server. Requires the Kick Members permission</li>
		<li>Ban Command: <span style="border: 1px solid black">a!ban [userid] [reason]</span> - Ban a user from the server. Requires the Ban Members permission</li>
		<li>Unban Command: <span style="border: 1px solid black">a!unban [userid]</span> - Revoke a ban on a user for the server. Requires the Ban Members permission</li>
		<li>Nick Command: <span style="border: 1px solid black">a!nick [userid] [newname]</span> - Change the nickname of a user in the server. Requires the Kick Members permission</li>
		<li>Purge Command: <span style="border: 1px solid black">a!purge [amount]</span> - Remove a certain amount of messages inside of the channel. Requires the Manage Messages permission</li>
	</ul>
</body>
</html>