<!DOCTYPE html>
<html>
<head>
	<title>Axol Bot | Privacy Policy</title>
</head>
<body>
	<h1>Axol Bot Privacy Policy</h1>
	<p>The privacy policy applies to Axol#5859 on Revolt.chat. Self-hosted instances of this bot may have slightly different privacy policies because bot owners can edit the code and Axol's Software does not control self-hosted instances of the Axol bot.</p>
	<p>Last updated on: June 26th, 2025 for Version 1.0.4 of the Axol Bot</p>
	
	<h3>What data is collected and why?</h3>
	<p>By default, the bot does not collect or store anything. However, when using the custom commands feature, it will store your server ID along with the command name and responses for your server</p>
	<p>The data is needed so the bot knows what your server's custom commands are and making sure they are executed in the right server.</p>
	
	<h3>Where is this data stored and who has access to it?</h3>
	<p>This data is stored within a .json file on the hosting provider.</p>
	<p>Only the bot owner and the bot developers has access to this data. The hosting provider may have an extremely rare chance of accessing this to ensure legal compliance</p>
	
	<h3>How can I contact you for privacy questions or concerns?</h3>
	<p>Here are the options to get in hold of the bot owner of the Axol Bot</p>
	<ul>
		<li>Joining the <a href="https://rvlt.gg/WJmNxmkv">Revolt.chat Server</a> and speaking with the bot owner</li>
		<li>Joining the <a href="https://discord.gg/hrUV9aq3p2">Discord Server</a> and speaking with the bot owner</li>
	</ul>
	<p>NOTE THAT THIS DOES NOT APPLY TO SELF-HOSTED INSTANCES AS WE DO NOT CONTROL SELF-HOSTED INSTANCES. TALK TO THE BOT OWNER DIRECTLY FOR SELF-HOSTED INSTANCES OF THIS BOT</p>
</body>
</html>